<%- include('portals/header') %>
<%- include('portals/menu') %>



<section class="bg-dark">
    <div class="p-4">
        <h1 class="text-light py-2 border-bottom">About us</h1>
        <p class="text-light">We are an e-commerce company. We will help to promote and increase your product sales and help your business. We always try to keep a secure and easy process for buying, selling, or payment systems. Our has its developer, designer, marketer, and every person. So our are always updating time by time. Currently, we don't have any sponsors but we are managing every by two partners (Rafik Hasan and MD Naiem Hosen). So if you have any complaints or advice then talk to the two owners..</p>
        <p class="text-light">আমরা একটি ই-কমার্স কোম্পানি। আমরা আপনার পণ্য বিক্রয় প্রচার এবং বৃদ্ধি এবং আপনার ব্যবসা সাহায্য করতে সাহায্য করবে. আমরা সবসময় কেনা, বিক্রি বা পেমেন্ট সিস্টেমের জন্য একটি নিরাপদ এবং সহজ প্রক্রিয়া রাখার চেষ্টা করি। আমাদের ডেভেলপার, ডিজাইনার, মার্কেটার এবং প্রত্যেক ব্যক্তি আছে। তাই আমরা সবসময় সময়ের সাথে সাথে আপডেট করে থাকি। বর্তমানে, আমাদের কোন স্পন্সর নেই তবে আমরা প্রত্যেকটি দুই অংশীদার (রফিক হাসান এবং এমডি নাঈম হোসেন) দ্বারা পরিচালনা করছি। তাই কোনো অভিযোগ বা পরামর্শ থাকলে দুই মালিকের সঙ্গে কথা বলুন।..</p>
    </div>
    <div class="p-4" id="customeractivity">
        <h1 class="text-light py-2 border-bottom">Customer activity</h1>
        <div class="d-lg-flex text-center justify-content-center">
            <div class="col-8 col-lg-3 d-inline-block border shadow rounded my-4 mx-4">
                <img class="w-100" src="\assets\images\bg_image\bg1.jpg" alt="">
                <div class="text-center p-3">
                    <h1 class="text-light">1st step</h1>
                    <p class="text-light">Click an item to select and will reach on the next page</p>
                </div>
            </div>
            <div class="col-8 col-lg-3 d-inline-block border shadow rounded my-4 mx-4">
                <img class="w-100" src="\assets\images\bg_image\bg1.jpg" alt="">
                <div class="text-center p-3">
                    <h1 class="text-light">2nd step</h1>
                    <p class="text-light">Cheak all information and be ensure that you want to busy the product and click on the buy noe button or if not interest then click to back to homme button</p>
                </div>
            </div>
            <div class="col-8 col-lg-3 d-inline-block border shadow rounded my-4 mx-4">
                <img class="w-100" src="\assets\images\bg_image\bg1.jpg" alt="">
                <div class="text-center p-3">
                    <h1 class="text-light">3th step</h1>
                    <p class="text-light">Fill up all information and make sure you have payed the delivery fees and clicked make order button or if not interest the click on the back button</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4" id="Selleractivity">
        <h1 class="text-light py-2 border-bottom">Admin activity</h1>
        <div class="mainbon">
            <div class="single-box d-lg-flex border shadow p-4 justify-content-center">
                <div class="col-lg-8 col-12">
                    <h3 class="text-light px-4">Staring with us</h3>
                    <p class="text-light px-4 py-2">We will add you on our site and you will login to your dasboad by the information we will provide. Then you will see the interface look like...</p>
                </div>
                <div class="col-lg-4 col-12">
                    <img class="w-100" src="assets\images\bg_image\bg1.jpg" alt="">
                </div>
            </div>
            <div class="single-box d-lg-flex border shadow p-4 justify-content-center">
                <div class="col-lg-8 col-12">
                    <h3 class="text-light px-4">Create an item</h3>
                    <p class="text-light px-4 py-2">Click on the post an item button and will reach on create item page now fill up the form carefully and click create iem button and post in on the world</p>
                </div>
                <div class="col-lg-4 col-12">
                    <img class="w-100" src="assets\images\bg_image\bg1.jpg" alt="">
                </div>
            </div>
            <div class="single-box d-lg-flex border shadow p-4 justify-content-center">
                <div class="col-lg-8 col-12">
                    <h3 class="text-light px-4">Get order and accept</h3>
                    <p class="text-light px-4 py-2">Click on the top menu bar's requested item and will reach on the next page and cheak who ordered. If you ensured that the order is valid the click on the close and accept button then the order will be able to compplate or if it's spam the click on the close and delete the the order will be deleted from our system ...</p>
                </div>
                <div class="col-lg-4 col-12">
                    <img class="w-100" src="assets\images\bg_image\bg1.jpg" alt="">
                </div>
            </div>
            <div class="single-box d-lg-flex border shadow p-4 justify-content-center">
                <div class="col-lg-8 col-12">
                    <h3 class="text-light px-4">Cheak your processing order</h3>
                    <p class="text-light px-4 py-2">Click on the top manu bar's processing order button and it will reach on the next page and see the order stutas abd click on it and you will see all information and close the page by click on the close button ...</p>
                </div>
                <div class="col-lg-4 col-12">
                    <img class="w-100" src="assets\images\bg_image\bg1.jpg" alt="">
                </div>
            </div>
            <div class="single-box d-lg-flex border shadow p-4 justify-content-center">
                <div class="col-lg-8 col-12">
                    <h3 class="text-light px-4">Complate and order</h3>
                    <p class="text-light px-4 py-2">Click on the end order nutton and will reach on the form page to enter a code and you have to enter the code from the order you want to end and click on the finish order button and your all process will done return on your dasboad. ...</p>
                </div>
                <div class="col-lg-4 col-12">
                    <img class="w-100" src="assets\images\bg_image\bg1.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</section>







<%- include('portals/footer') %>
