<%- include('portals/header') %>


<div class="bg-dark">
    <%- include('portals/adminmenu') %>
<h1 class="text-light p-4">Hello <%= userobj.name %></h1>
<a class="d-block col-3 m-auto rounded shadow text-bolder text-center px-4 py-2 bg-danger fs-5 text-light text-decoration-none" href="/finishorderbyadminpage/<%= userobj.useridlog %>">Finish order</a>
    <div class="bg-dark py-5 d-flex justify-content-center">
        <div class="col-lg-9 col-11 d-inline-block">
            <div class="bg-danger  p-5" id="home">
                <div class="bg-dark my-5 text-center p-4 w-100 w-lg-50 m-auto shadow">
                    <h1 class="text-info my-2">Post an item</h1>
                    <a class="bg-danger shadow text-decoration-none py-2 px-4 rounded my-2 d-inline-block" href="/createitem">Continue</a>
                </div>
                <div class="bg-dark my-5 text-center p-4 w-lg-50 w-100 m-auto shadow">
                    <h1 class="text-info my-2">Add delivery man</h1>
                    <a class="bg-danger shadow text-decoration-none py-2 px-4 rounded my-2 d-inline-block" href="/addmember">Continue</a>
                </div>
            </div>





            <div class="bg-danger shadow rounded p-5" id="pay">
                <div class="text-center my-5 shadow w-lg-75 w-100 m-auto">
                    <h2 class="text-light">Totay's sell's ammount</h2>
                    <button class="bg-dark text-light fs-4 m-4 py-2 px-4">22000 tk</button>
                </div>
                <div class="text-center my-5 shadow w-lg-75 w-100 m-auto">
                    <h2 class="text-light">Totay's delivery men's payment ammount</h2>
                    <button class="bg-dark text-light fs-4 m-4 py-2 px-4">22000 tk</button>
                </div>
                <div class="text-center my-5 shadow w-lg-75 w-100 m-auto">
                    <h2 class="text-light">Totay's our benifit</h2>
                    <button class="bg-dark text-light fs-4 m-4 py-2 px-4">22000 tk</button>
                </div>
                <div class=" my-5 shadow w-100 m-auto">
                    <div class="d-flex justify-content-center border p-2">
                        <span class="w-75 text-info d-inline-block">Total order completed</span>
                        <span class="w-25 text-center text-light d-inline-block">20</span>
                    </div>
                    <div class="d-flex justify-content-center border p-2">
                        <span class="w-75 text-info d-inline-block">Today order completed</span>
                        <span class="w-25 text-center text-light d-inline-block">20</span>
                    </div>
                    <div class="d-flex justify-content-center border p-2">
                        <span class="w-75 text-info d-inline-block">Repused order completed</span>
                        <span class="w-25 text-center text-light d-inline-block">5</span>
                    </div>
                    <div class="d-flex justify-content-center border p-2">
                        <span class="w-75 text-info d-inline-block">Uncompleted order completed</span>
                        <span class="w-25 text-center text-light d-inline-block">2</span>
                    </div>
                </div>
            </div>
    
            <div class="bg-danger shadow rounded p-5" id="rep">
                <div>
                    <div class="col-10 my-2 p-4 m-auto shadow rounded">
                        <h4 class="text-light"><span class="text-info">Naiem :</span> MD Naiem Hosen</h4>
                        <h5 class="text-light"><span class="text-info">Phone number :</span>01795444019</h5>
                        <p class="text-light border-top mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ex natus itaque! Ullam corrupti quibusdam ipsam id similique nisi, non quaerat, velit enim voluptates unde rerum amet. Sapiente, autem quibusdam?</p>
                    </div>
                    <div class="col-10 my-2 p-4 m-auto shadow rounded">
                        <h4 class="text-light"><span class="text-info">Naiem :</span> MD Naiem Hosen</h4>
                        <h5 class="text-light"><span class="text-info">Phone number :</span>01795444019</h5>
                        <p class="text-light border-top mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ex natus itaque! Ullam corrupti quibusdam ipsam id similique nisi, non quaerat, velit enim voluptates unde rerum amet. Sapiente, autem quibusdam?</p>
                    </div>
                    <div class="col-10 my-2 p-4 m-auto shadow rounded">
                        <h4 class="text-light"><span class="text-info">Naiem :</span> MD Naiem Hosen</h4>
                        <h5 class="text-light"><span class="text-info">Phone number :</span>01795444019</h5>
                        <p class="text-light border-top mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ex natus itaque! Ullam corrupti quibusdam ipsam id similique nisi, non quaerat, velit enim voluptates unde rerum amet. Sapiente, autem quibusdam?</p>
                    </div>
                    <div class="col-10 my-2 p-4 m-auto shadow rounded">
                        <h4 class="text-light"><span class="text-info">Naiem :</span> MD Naiem Hosen</h4>
                        <h5 class="text-light"><span class="text-info">Phone number :</span>01795444019</h5>
                        <p class="text-light border-top mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ex natus itaque! Ullam corrupti quibusdam ipsam id similique nisi, non quaerat, velit enim voluptates unde rerum amet. Sapiente, autem quibusdam?</p>
                    </div>
                    <div class="col-10 my-2 p-4 m-auto shadow rounded">
                        <h4 class="text-light"><span class="text-info">Naiem :</span> MD Naiem Hosen</h4>
                        <h5 class="text-light"><span class="text-info">Phone number :</span>01795444019</h5>
                        <p class="text-light border-top mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ex natus itaque! Ullam corrupti quibusdam ipsam id similique nisi, non quaerat, velit enim voluptates unde rerum amet. Sapiente, autem quibusdam?</p>
                    </div>
                    
                </div>
            </div>
            
            <div class="bg-danger shadow rounded p-5" id="sup">
                <div class="my-5">
                    <h4 class="text-info">Call us,</h4>
                    <div>
                        <span class="d-block text-light">01795444079</span>
                        <span class="d-block text-light">01795444079</span>
                        <span class="d-block text-light">01795444079</span>
                        <span class="d-block text-light">01795444079</span>
                        <button class="bg-dark text-light">Add phone number</button>
                    </div>
                </div>
                <div class="my-5">
                    <h4 class="text-info">Email us,</h4>
                    <div>
                        <span class="d-block text-light">quackteam@gmail.com</span>
    
                        <button class="bg-dark text-light">Add email</button>
                    </div>
                </div>
            </div>
    

    
            <!-- <div class="bg-danger shadow rounded p-5" id="shop">
                <div class="bg-dark text-center col-10 p-2 m-auto">
                    <div class="w-50 d-block m-auto">
                        <button class="py-1 bg-danger text-light px-4">Add shoper</button>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    <div class="col-3 bg-danger d-inline-block shadow rounded p-2 m-3">
                        <img style="height: 140px;" class="w-75 m-auto d-block" src="assets/images/bg_image/bg1.jpg" alt="">
                        <h5 class="text-center py-1 text-light">MD Naiem Hosen</h5>
                        <a class="text-center d-block text-decoration-none p-1 bg-info text-dark text-bolder" href="/">View profile</a>
                    </div>
                    
                </div>
            </div> -->
        </div>
    </div> 
    
</div>


