<%- include('portals/header') %>

<div>
    <div class="col-11 shadow bg-light m-auto rounded my-4 p-4">
        <h1 class="text-bolder text-center text-dark py-4 px-2">Congratulation! Good job.</h1>
        <p class="py-4 fs-4 ">Hello <span><%= enddata.name %></span>your order has been completed. And you have earned <span><%= enddata.earned %> taka</span></p>
        <div class="text-center py-4">
            <a class="bg-dark text-light py-2 rounded shadow px-4" href="/">Go to home</a>
            <a class="bg-dark text-light py-2 rounded shadow px-4" href="/memberdasboad">Go to dasboad</a>
        </div>
    </div>
</div>