<%- include('portals/header') %>


<div class="my-5 py-5">
    <div class="col-8 m-auto p-4 shadow">
        <h1 class="text-bolder text-center text-dark p-2">Opps! Something is wrong!</h1>
        <p class="text-bolder text-center text-dark">Opps! Something is wrong!</p>
        <div class="d-flex justify-content-center p-5">
            <a class="text-decoration-none text-bolder bg-dark px-4 py-2 mx-2 text-center text-light" href="/">Go to home</a>
            <a class="text-decoration-none text-bolder bg-dark px-4 py-2 mx-2 text-center text-light" href="/help">Get help</a>
        </div>
    </div>
</div>