<%- include('portals/header') %>
<%- include('portals/menu') %>



<div class="m-auto shadow p-4 mt-5 col-lg-6 col-12">
    <form action="/createorder" method="post" >
        <div class="my-4">
            <label class="d-block px-5 fs-4 p-2" for="fullname">Write your fullname</label>
            <input class="d-block w-75 px-4 mx-5 fs-5 p-2" type="text" required name="orderername" id="fullname" placeholder="Ful lname">
        </div>
        <div class="my-4">
            <label class="d-block px-5 fs-4 p-2" for="phonenumber">Write your phone number</label>
            <input class="d-block w-75 px-4 mx-5 fs-5 p-2" type="text" required name="ordererphone" id="phonenumber" placeholder="Phone number">
        </div>
        <div class="my-4">
            <label class="d-block px-5 fs-4 p-2" for="code">Write your confirmation code</label>
            <input class="d-block w-75 px-4 mx-5 fs-5 p-2" type="text" required name="confirmcode" id="code" placeholder="">
        </div>
        <div class="my-4">
            <label class="d-block px-5 fs-4 p-2" for="address">Write your address. where you want to get delivery</label>
            <input class="d-block w-75 px-4 mx-5 fs-5 p-2" type="text" required name="deliveryaddress" id="address" placeholder="">
        </div>
        <input class="col-4 btn bg-dark text-light rounded m-auto d-block" type="submit" value="Create order">
    </form>
</div>