
        <div class="bg-dark">
            <div class="border-bottom p-3">f
                <span class="col-lg-4 col-8 text-light d-inline-block"><a class="text-decoration-none fs-2 text-light" href="/"><img class="w-lg-50 w-75 py-2 rouunded px-4" src="assets\images\webimg\foooder-logo.png" alt=""></a></span>
                <div class="col-7 d-none d-lg-inline-block">
                    <a class="text-light text-decoration-none mx-2" href="/aboutus#customeractivity">Customer instraction</a>
                    <a class="text-light text-decoration-none mx-2" href="/aboutus#Selleractivity">Seller instraction</a>
                    <a class="text-light text-decoration-none mx-2" href="/aboutus">About us</a>
                </div>
            </div>
            <div class="d-lg-none">
                <a class="text-light text-decoration-none mx-2" href="/aboutus#customeractivity">Customer instraction</a>
                <a class="text-light text-decoration-none mx-2" href="/aboutus#Selleractivity">Seller instraction</a>
                <a class="text-light text-decoration-none mx-2" href="/aboutus">About us</a>
            </div>
            <div class="p-5 d-lg-flex justify-content-center">
                <ul class="nav d-inline-block col-12 py-2 col-lg-3">
                    <li class="nav-item w-100"><a class="nav-link text-light">Work With us</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Be a seller</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Apply for our managing team</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Tell us your experience</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Add to community</a></li>
                </ul>
                <ul class="nav d-inline-block col-12 py-2 col-lg-3">
                    <li class="nav-item w-100"><a class="nav-link text-light">Our Systems</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="/aboutus#customeractivity">Customer</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="/aboutus#Selleractivity">Seller</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="/aboutus#payment">Payment</a></li>
                </ul>
                <ul class="nav d-inline-block col-12 py-2 col-lg-3">
                    <li class="nav-item w-100"><a class="nav-link text-light">Social Link</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Facebook</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Instragram</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">LinkedIn</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Twitter</a></li>
                </ul>
                <ul class="nav d-inline-block col-12 py-2 col-lg-2">
                    <li class="nav-item w-100"><a class="nav-link text-light">Help And Support</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="#">Direct message</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="">E-mail: naiemhosen430@gmail.com</a></li>
                    <li class="nav-item w-100"><a class="nav-link" href="">Whatsapp: +88019250679575</a></li>
                </ul>
            </div>

            <p class="text-info p-5">our purpose is for the next virsion of e-commerce. We are always for do best of you. Stay with us and help to grow up. Your happy is our fasion.</p>
            <p class="text-light text-center p-5">@all codes are reserved by <a href="#">MD Naiem Hosen</a></p>
        </div>