        <!----Start nav section---->
        <select class="col-12 fs-2 fs-lg-3 d-block d-lg-none py-1 px-lg-4" name="location" id="location">
            <option value="all">Select your location</option>
            <option value="Bogra">Bogra</option>
            <option value="Bogra">Kendua</option>
            <option value="Bogra">Netrokona</option>
            <option value="Bogra">Tantail</option>
            <option value="Bogra">Chattagram</option>
        </select>
        <nav class="bg-info py-1 sticky-top text-center">
            <div class="col-lg-2 col-6 d-inline-block">
                <a class="text-decoration-none fs-3 fs-lg-2 text-light" href="/"><img class="w-100 py-2 rouunded px-4" src="assets\images\webimg\nrbazar.png" alt=""></a>
            </div>
            <select style="border-radius: 30px;" class="col-5 fs-4 fs-lg-3 col-lg-5 d-none d-lg-inline-block py-1 px-lg-4" name="location" id="location">
                <option value="all">Select your location</option>
                <option value="Bogra">Bogra</option>
                <option value="Bogra">Kendua</option>
                <option value="Bogra">Netrokona</option>
                <option value="Bogra">Tantail</option>
                <option value="Bogra">Chattagram</option>
            </select>
            
            <div class="col-2 col-lg-4 d-inline-block">
                <ul class="nav">
                    <div class="d-lg-inline-block text-center ">
                        <li class="nav-item d-inline-block"><a class="nav-link bg-success shadow rouunded  fs-6 text-light" href="/login">login</a></li>
                        <li class="nav-item d-none d-lg-inline-block"><a class="nav-link text-dark fs-6" href="#">Support</a></li>
                        <li class="nav-item d-none d-lg-inline-block"><a class="nav-link fs-6 text-dark" href="/aboutus">About</a></li>
                    </div>
                </ul>
            </div>
        </nav>
        <!----End nav section---->    